<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job List</title>
    <link rel="stylesheet" href="/styles/jobsList.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/admin/dashboard">Dashboard</a></li>
                <li><a href="/admin/employers">Employers</a></li>
                <li><a href="/admin/jobs" class="active">Jobs</a></li>
                <li><a href="/admin/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Job List</h1>
        <table>
            <thead>
                <tr>
                    <th>Job Title</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% jobs.forEach(job=> { %>
                    <tr>
                        <td>
                            <%= job.title %>
                        </td>
                        <td>
                            <% if (job.company && job.company.companyName) { %>
                                <%= job.company.companyName %>
                                    <% } else { %>
                                        No company information
                                        <% } %>
                        </td>
                        <td>
                            <%= job.location %>
                        </td>
                        <td>
                            <a href="/admin/jobs/<%= job._id %>/edit" class="edit-button">Edit</a>
                            <form action="/admin/jobs/<%= job._id %>/delete" method="POST" style="display:inline;">
                                <button type="submit" class="delete-button">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </main>
</body>

</html>