<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Feed | Job-Board</title>
    <link rel="stylesheet" href="/styles/jobseeker/feed.css">
    <link rel="stylesheet" href="/styles/jobseeker/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/images/logo.png">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div class="logo">JobZen</div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/job/feed" style="color: #FA7070;">Jobs</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
                <!-- Profile Photo Link -->
                <a href="/profile">
                    <img src="/images/avatar.avif" alt="Profile Photo" class="profile-photo">
                </a>
            </nav>
        </div>
    </header>

    <main>
        <section class="job-feed">
            <div class="container">
                <h1>Job Openings</h1>
                <div class="page-wrapper">
                    <div class="group">
                        <div class="search-container">
                            <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                                <g>
                                    <path
                                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                                    </path>
                                </g>
                            </svg>
                            <input placeholder="ðŸ”Search" type="search" class="input" id="search-input">
                            <button id="search-button">Search</button>
                        </div>

                        <!-- Filter Toggle Button -->
                        <button id="toggle-filters" class="filter-toggle-button">Show Filters</button>

                        <!-- Filter Box -->
                        <div id="filter-box" class="filters hidden">
                            <label for="filter-title">Job Title:</label>
                            <input type="text" id="filter-title" placeholder="Job Title">

                            <label for="filter-company">Company Name:</label>
                            <input type="text" id="filter-company" placeholder="Company Name">

                            <label for="filter-status">Status:</label>
                            <input type="text" id="filter-status" placeholder="Status">

                            <label for="filter-type">Job Type:</label>
                            <select id="filter-type">
                                <option value="">All</option>
                                <option value="Full-Time">Full-Time</option>
                                <option value="Part-Time">Part-Time</option>
                                <option value="Internship">Internship</option>
                            </select>

                            <label for="filter-location">Location:</label>
                            <input type="text" id="filter-location" placeholder="Location">

                            <label for="filter-industry">Industry:</label>
                            <input type="text" id="filter-industry" placeholder="Industry">
                        </div>
                    </div>
                </div>

                <div class="job-cards-container">
                    <% if (jobs.length> 0) { %>
                        <% jobs.forEach(job=> { %>
                            <div class="job-card">
                                <div class="job-details">
                                    <h2 class="bold-heading">
                                        <%= job.title %>
                                    </h2>
                                    <p class="job-company">
                                        <strong>Company:</strong>
                                        <%= job.company.companyName %>
                                    </p>
                                    <p class="job-location">
                                        <strong>Location:</strong>
                                        <%= job.location %>
                                    </p>
                                    <p class="job-type">
                                        <strong>Job Type:</strong>
                                        <%= job.mode %>
                                    </p>
                                    <p class="job-expiry">
                                        <strong>Expiry Date:</strong>
                                        <%= job.expiryDate.toDateString() %>
                                    </p>
                                    <p class="job-salary">
                                        <strong>Salary Range:</strong> $<%= job.salary.min %> - $<%= job.salary.max %>
                                    </p>
                                    <p class="job-education">
                                        <strong>Education:</strong>
                                        <%= job.education %>
                                    </p>
                                    <p class="job-industry">
                                        <strong>Industry:</strong>
                                        <%= job.industry %>
                                    </p>
                                    <button class="more-info-button" onclick="toggleDetails(this)">More Info</button>
                                    <div class="job-additional-info">
                                        <p class="job-description">
                                            <strong>Description:</strong>
                                            <%= job.description %>
                                        </p>
                                        <p class="job-experience">
                                            <strong>Experience Required:</strong>
                                            <%= job.experience %>
                                        </p>
                                        <p class="job-status">
                                            <strong>Status:</strong>
                                            <%= job.status %>
                                        </p>
                                        <p class="job-skills">
                                            <strong>Skills:</strong>
                                            <%= job.skills %>
                                        </p>
                                        <p class="job-benefits">
                                            <strong>Benefits:</strong>
                                            <%= job.benefits %>
                                        </p>
                                        <p class="job-company-website">
                                            <strong>Company Website:</strong> <a href="<%= job.companyWebsite %>"
                                                target="_blank">
                                                <%= job.companyWebsite %>
                                            </a>
                                        </p>
                                        <p class="job-contact-email">
                                            <strong>Contact Email:</strong>
                                            <%= job.contactEmail %>
                                        </p>
                                    </div>
                                </div>
                                <div class="job-apply">
                                    <a href="/job/<%= job._id %>/apply" class="apply-button">Apply Now</a>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p>No job postings available.</p>
                                    <% } %>
                </div>
            </div>
        </section>
    </main>
    <script src="/js/feed.js"></script>
</body>

</html>